In [1]:
import pandas as pd

In [2]:
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
pd.DataFrame([[1,2,3],[3,4,5]])

   0  1  2
0  1  2  3
1  3  4  5

In [4]:
nomesColunas = ['comprimento da sepala','lagura da sepala','comprimento da petala', 'largura da petala','tipo da flor']

In [5]:
df = pd.read_csv('iris.csv', names=nomesColunas)

In [6]:
df.head(10)

,comprimento da sepala,lagura da sepala,comprimento da petala,largura da petala,tipo da flor
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa

In [7]:
df.shape

(150, 5)

In [8]:
df.loc[(df['tipo da flor'] == "Iris-setosa") & (df['comprimento da petala'] == 1.4)]

,comprimento da sepala,lagura da sepala,comprimento da petala,largura da petala,tipo da flor
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
12,4.8,3.0,1.4,0.1,Iris-setosa
17,5.1,3.5,1.4,0.3,Iris-setosa
28,5.2,3.4,1.4,0.2,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
45,4.8,3.0,1.4,0.3,Iris-setosa
47,4.6,3.2,1.4,0.2,Iris-setosa
49,5.0,3.3,1.4,0.2,Iris-setosa

In [9]:
df.loc[(df['tipo da flor'] == "Iris-setosa") & (df['comprimento da petala'] == 1.4), ['tipo da flor', 'comprimento da petala']]

   tipo da flor  comprimento da petala
0   Iris-setosa                    1.4
1   Iris-setosa                    1.4
4   Iris-setosa                    1.4
6   Iris-setosa                    1.4
8   Iris-setosa                    1.4
12  Iris-setosa                    1.4
17  Iris-setosa                    1.4
28  Iris-setosa                    1.4
33  Iris-setosa                    1.4
45  Iris-setosa                    1.4
47  Iris-setosa                    1.4
49  Iris-setosa                    1.4

In [10]:
df = df.drop('tipo da flor', axis=1)

In [11]:
df.head(10)

,comprimento da sepala,lagura da sepala,comprimento da petala,largura da petala
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
5,5.4,3.9,1.7,0.4
6,4.6,3.4,1.4,0.3
7,5.0,3.4,1.5,0.2
8,4.4,2.9,1.4,0.2
9,4.9,3.1,1.5,0.1

In [12]:
df.min()

comprimento da sepala    4.3
lagura da sepala         2.0
comprimento da petala    1.0
largura da petala        0.1
dtype: float64

In [13]:
df.max()

comprimento da sepala    7.9
lagura da sepala         4.4
comprimento da petala    6.9
largura da petala        2.5
dtype: float64

In [14]:
df.describe()

,comprimento da sepala,lagura da sepala,comprimento da petala,largura da petala
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
comprimento da sepala    150 non-null float64
lagura da sepala         150 non-null float64
comprimento da petala    150 non-null float64
largura da petala        150 non-null float64
dtypes: float64(4)
memory usage: 4.8 KB

In [16]:
df.dtypes

comprimento da sepala    float64
lagura da sepala         float64
comprimento da petala    float64
largura da petala        float64
dtype: object

In [17]:
df.corr()

,comprimento da sepala,lagura da sepala,comprimento da petala,largura da petala
comprimento da sepala,1.000000,-0.109369,0.871754,0.817954
lagura da sepala,-0.109369,1.000000,-0.420516,-0.356544
comprimento da petala,0.871754,-0.420516,1.000000,0.962757
largura da petala,0.817954,-0.356544,0.962757,1.000000